//language selection
.nav-ls-fl {
  width: 40px;
  height: 40px;
}

.nav-ls-parent {
  position: relative;
  margin-left: 15px;
  cursor: pointer;
  min-width: 100px;

  //800 px is when the navbar switches to mobile view
  @media only screen and (min-width: 800px) {
    margin-left: 30px;
  }

  @media only screen and (max-width: 400px) {
    flex: unset;
    min-width: 80px;
    margin-left: 5px;
  }
}

.nav-ls-lng {
  display: flex;
  align-items: center;
  justify-content: end;
  width: fit-content;

  // @media only screen and (max-width: 500px) {
  //   justify-content: end;
  // }
}

.nav-ls-tx {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 600;
  user-select: none;

  @media only screen and (max-width: 500px) {
    font-size: 12px;
  }
}

.nav-ls-caret {
  margin-left: 3px;
}

.nav-ls-selcon {
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  padding: 5px;
  border: 1px solid #edeff1;
  width: 100%;
  box-sizing: border-box;
}

.nav-ls-col {
  display: flex;
  align-items: center;
  margin-top: 5px;
  transition: 0.3s ease all;
}

.nav-ls-c {
  flex: 1 1 0;
  justify-content: center;
  display: flex;

  //during navbar switch
  @media only screen and (max-width: 1000px) {
    flex: unset;
  }
}
