.about-frame {
    width: auto;
    height: 600px;
    margin: 0 10% 0 10%;
}

.about-top {
    width: auto;
    height: 685px;
    background-size: cover;
    background-color: blue;
    background-position: 0 50%;
}