.b-parent {
  min-height: 100vh;
}

.b-inner {
  padding: 30px 30px 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.b-title {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;

  @media only screen and (max-width: 500px) {
    font-size: 20px;
  }
}

.b-by {
  margin-top: 5px;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
  }
}

.b-body {
  margin-top: 15px;
  line-height: 27px;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
    line-height: 30px;
  }
}

.b-img {
  max-width: 50%;

  @media only screen and (max-width: 750px) {
    max-width: 80%;
  }

  @media only screen and (max-width: 500px) {
    max-width: 95%;
  }
}
