.b-parent {
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
  width: 100%;
}

.b-inner {
  padding: 40px 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  width: 80%;
  box-sizing: border-box;
  margin: 0 auto;
  height: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  box-sizing: border-box;

  @media only screen and (max-width: 700px) {
    width: 100%;
    padding: 50px 15px;
    height: 100%;
  }
}

.b-title {
  margin-top: 40px;
  font-size: 24px;
  font-weight: 600;
  text-align: center;

  @media only screen and (max-width: 500px) {
    font-size: 20px;
  }
}

.b-by {
  margin-top: 5px;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
  }
}

.b-body {
  margin-top: 15px;
  line-height: 27px;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
    line-height: 30px;
  }
}

.b-img {
  max-width: 70%;

  @media only screen and (max-width: 750px) {
    max-width: 80%;
  }

  @media only screen and (max-width: 500px) {
    max-width: 95%;
  }
}

.b-x {
  position: fixed;
  top: 15px;
  right: 15px;

  @media only screen and (max-width: 700px) {
    height: 24px;
    width: 24px;

    &:before {
      height: 24px;
      width: 2px;
    }

    &:after {
      height: 24px;
      width: 2px;
    }
  }
}
