.footer-parent {
  width: 100%;
  padding: 50px 0;
  box-shadow: 0 5px 5px #ccc inset;
}

.footer-inner {
  width: 100%;
  padding: 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  @media only screen and (max-width: 600px) {
    flex-direction: column;
    padding: 0 3px;
  }
}

.footer-divider {
  height: 200px;
  width: 3px;
  background-color: black;
  margin: 0 40px;

  @media only screen and (max-width: 600px) {
    display: none;
  }
}

.footer-top {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-end;

  @media only screen and (max-width: 600px) {
    align-items: center;
    width: 100%;
  }
}

.footer-r {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.footer-rc {
  margin-left: 10px;

  //35 px accounts for the icon on the left
  //10 px accounts for the margin left 10px
  //35 + 10 = 45 px subtracted
  max-width: calc(100% - 45px);

  /* Forces long words to break */
  word-wrap: break-word;
  /* Alternative property for wrapping text */
  overflow-wrap: break-word;
  /* Ensures the text wraps within the container width */
  white-space: normal;

  @media only screen and (max-width: 500px) {
    font-size: 14px;
  }
}

.footer-q {
  font-style: italic;
  width: 100%;
  text-align: right;
  font-size: 18px;
  margin-top: 15px;

  @media only screen and (max-width: 600px) {
    font-size: 15px;
    margin-top: 25px;
    text-align: center;
  }
}

.footer-bot {
  width: 50%;

  @media only screen and (max-width: 600px) {
    width: 100%;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.footer-sv {
  height: 35px;
  width: 35px;

  @media only screen and (max-width: 500px) {
    height: 25px;
    width: 25px;
  }
}
