@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo&family=Lato:wght@300;400;700&display=swap");

* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  // overflow-x: hidden;
}

@media (pointer: fine) {
  ::-webkit-scrollbar {
    height: 14px;
    width: 14px;
    margin: 0 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: #aeaeae;
    -webkit-border-radius: 1ex;
    border: 3.5px solid white;
  }

  ::-webkit-scrollbar-corner {
    background: #000;
  }
}

ul,
ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

pre {
  overflow-wrap: break-word;
  white-space: pre-wrap;
  font-family: inherit;
}

.text-ac {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.c2b475c {
  color: #2b475c;
}

//navy blue button with hover
.nav-w {
  background-color: #617685;
  border-radius: 9999px;
  width: 142px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease all;

  &:hover {
    background-color: #78a2c4;
  }
}

.grow {
  flex-grow: 1;
}

.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.index-container {
  margin-top: 90px;
}

.boxshadow {
  box-shadow: 0 0 20px #00000026;
}

.x {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s ease all;

  &:hover {
    opacity: 1;
  }

  &:before {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #333;
    transform: rotate(45deg);
  }

  &:after {
    position: absolute;
    left: 15px;
    content: " ";
    height: 33px;
    width: 2px;
    background-color: #333;
    transform: rotate(-45deg);
  }
}
