.nav-parent {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100px;
  background-color: white;
  z-index: 100000;

  box-sizing: border-box;
  border: 5px solid red;

  @media only screen and (max-width: 500px) {
    height: 90px;
  }
}

/*.nav-inner {
  display: block;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 100%;
  width: 90%;

  overflow: visible;
  border-style: solid;
  border-color: red;
}*/

.nav-frame {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 95%;
  height: 45%;
}

/*
.nav-m {
  width: 279px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media only screen and (max-width: 500px) {
    width: 200px;
  }
}

.nav-q {
  width: 195px;
  height: 50px;
  transition: 0.5s ease all;
  cursor: pointer;
  font-weight: 700;
}

.nav-wh {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: #c7c7c7;
  }
}
*/

.topnav {
  display: flex;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.topnav img {
  //float: center;
  max-width: 50%;
  height: auto;
  vertical-align: middle;
  object-fit: contain;
  @media only screen and (max-width: 600px) {
    max-width: 60%;
  }
}

.topnav a {
  display: flex;
  color: white;
  font-size: 20px;
  padding: 0 2%;

  @media only screen and (max-width: 600px) {
    padding: 1%;
    font-size: 14px;
  }
}

.topnav a:hover {
  color: #d9d9d9;
}

.topnav a.active {
  color: #d9d9d9;
}

.topnav a.box {
  background-color: #617685;
  border-radius: 9999px;
  width: 5%;
  height: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease all;

  &:hover {
    background-color: #78a2c4;
  }
}