$myColor: #228b22;

.nav-inner {
  display: flex;
  // justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nav-logo img {
  height: 55px;
  transition: transform 0.3s ease;

  @media only screen and (max-width: 500px) {
    width: 200px;
    height: unset;
  }
}

.nav-logo {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.topnav {
  background: white;

  padding: 10px 5%;
  position: fixed;
  box-sizing: border-box;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 20px #00000026;

  .hamburger {
    display: none;

    z-index: 1000;
  }

  .links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    height: auto;

    li {
      color: black;
      font-size: 16px;
      cursor: pointer;
      position: relative;
      transition: color 0.3s ease;
      padding-bottom: 5px;
      font-weight: 500;

      &:hover {
        color: $myColor;
      }

      &::after {
        content: "";
        display: block;
        width: 0;
        height: 2px;
        background: $myColor;
        transition: width 0.3s;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  //i changed it to 800 just so its easier number
  @media only screen and (max-width: 800px) {
    padding: 0;
    justify-content: space-between;

    .links {
      position: fixed;
      top: 90px;
      left: 0;
      width: 100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
      list-style-type: none;
      overflow: hidden;
      transition: max-height 0.3s ease;
      max-height: 0;
      z-index: 900;

      &.menu-open {
        border-top: #ccc solid 1px;
      }

      li {
        width: 100%;
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid #ccc;
        overflow: hidden;
      }
    }

    .links.menu-open {
      max-height: 100%;
    }

    .hamburger {
      display: block;
      min-width: 80px;
      // position: absolute;
      // right: 5%;

      .bars-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        cursor: pointer;

        i {
          font-size: 20px;
          transition: transform 0.3s ease;
        }
      }
    }
  }
}
