$myColor: #228b22;

.topnav {
  background: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 10%;
  position: fixed;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  height: 90px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 20px #00000026;

  .logo img {
    height: 55px;
    transition: transform 0.3s ease;
  }

  .hamburger {
    display: none;
    cursor: pointer;
    z-index: 1000;
  }

  .links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    height: auto;

    li {
      color: black;
      font-size: 16px;
      cursor: pointer;
      position: relative;
      transition: color 0.3s ease;
      padding-bottom: 5px;

      &:hover {
        color: $myColor;
      }

      &::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: $myColor;
        transition: width 0.3s;
        position: absolute;
        bottom: 0;
        left: 0;
      }

      &:hover::after {
        width: 100%
      }
    }
  }

  @media only screen and (max-width: 768px) {
    padding: 0 5%;
    justify-content: space-between;

    .links {
      position: fixed;
      top: 90px;
      left: 0;
      width: 100%;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
      list-style-type: none;
      overflow: hidden;
      transition: max-height 0.3s ease;
      max-height: 0;
      z-index: 900;

      &.menu-open {
        border-top: #ccc solid 1px;
      }

      li {
        width: 100%;
        text-align: center;
        padding: 15px 0;
        border-bottom: 1px solid #ccc;
        overflow: hidden;
      }
    }

    .links.menu-open {
      max-height: 100%;
    }

    .hamburger {
      display: block;
      position: absolute;
      right: 5%;
      .bars-button {
        display: flex;
        justify-content: center;
        align-items: center;
        background: none;
        border: none;
        
        i {
          cursor: pointer;
          font-size: 20px;
          transition: transform 0.3s ease
        }
      }
    }
  }
}